<%= turbo_frame_tag dom_id(comment) do %>
  <div class="bg-base-300 flex flex-row gap-1 text-sm">
    <div class="w-10 h-10 border text-2xs">
      TODO: avatar
    </div>
    <div>
      <div class="text-xs">
        TODO: show user and date
      </div>
      <div class="max-w-none break-words prose prose-sm md:prose-base prose-a:break-all dark:prose-invert leading-5">
        <%= comment.content %>
      </div>
      <% if comment.comments&.any? %>
        <div class="mt-2">
          <% comment.comments.each do |nested_comment| %>
            <%= render partial: 'comments/comment', locals: { comment: nested_comment } %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
