<%= render layout: "posts/base" do %>
<h1>Editing post</h1>

<%= render "form", post: @post %>

<br>

<div class="flex flex-row gap-3">
  <%= link_to "Show this post", @post, data: { "turbo-frame": "_top" } %>
  <%= link_to "Back to posts", posts_path, data: { "turbo-frame": "_top" } %>
</div>
<% end %>
